
<div class="container" style="margin-top: 30px" ng-app="app">
    <div id="profile-page" class="section" ng-controller="ctrl">

        <div id="profile-page-header" class="card">

            <div class="card-content light-blue white-text">
                <h5 class="task-card-title">Gestión de Artículos</h5>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12 right-align">
                        <a class="btn-floating activator waves-effect waves-light darken-2 right">
                            <i class="mdi-action-search"></i>
                        </a>
                    </div>
                    <div class="col s12 m6">
                        <form class="contact-form">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="mdi-communication-vpn-key prefix"></i>
                                    <input id="txtcodigo" type="text" ng-model="articulo.Codigo" placeholder="Codigo">
                                    <label for="txtcodigo">Código</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DropDownList("cboCategoria", null, "-- SELECCIONE CATEGORIA --", new { ng_model = "articulo.CategoriaId" })

                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownList("cboMarca", null, "-- SELECCIONE MARCA --", new { ng_model = "articulo.MarcaId" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-credit-card prefix"></i>
                                    <input id="txtdenominacion" type="text" ng-model="articulo.Denominacion" placeholder="Ingrese Denominacion">
                                    <label for="txtdenominacion">Denominación</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-receipt prefix"></i>
                                    <textarea id="txtdescripcion" class="materialize-textarea" ng-model="articulo.Descripcion" placeholder="Ingrese Descripción"></textarea>
                                    <label for="txtdescripcion">Descripción</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-receipt prefix"></i>
                                    <textarea id="txtDetalle" class="materialize-textarea" ng-model="articulo.Detalle" placeholder="Ingrese Detalle"></textarea>
                                    <label for="txtDetalle">Detalle</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 l4">
                                    <i class="mdi-maps-local-grocery-store prefix"></i>
                                    <input id="txtp" type="text" ng-model="articulo.Precio" placeholder="0.00">
                                    <label for="txtp">Precio</label>
                                </div>

                                <div class="input-field col s6 m6 l4">
                                    <p>
                                        <input type="checkbox" class="checkbox" id="cagree" name="cagree" ng-model="articulo.Estado" />
                                        <label for="cagree">Artículo Activo</label>
                                    </p>
                                </div>
                                <div class="input-field col s12 m12 l4">
                                    <button class="btn cyan waves-effect waves-light right" type="button" name="action" ng-click="Mantener()">
                                        Guardar
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12 m12 l6" ng-hide="articulo.ArticuloId==null">
                        <div class="card-panel">
                            <h4 class="header2">
                                Carateristica
                                <a href="#caracteristica-modal" class="caracteristica-add modal-trigger btn-floating waves-effect waves-light right"><i class="mdi-content-add"></i></a>
                            </h4>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div id="email-list" class="col s12 m12 l12 card-panel z-depth-1">
                                            <ul class="collection">
                                                <li class="collection-item email-unread " ng-repeat="m in caracteristicas" ng-click="EditarCaracteristica(m)">
                                                    <span> {{m.Denominacion}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="pnlbuscador" class="card-reveal">
                <div class="row">
                    <form class="col s11">
                        <div class="input-field">
                            <i class="mdi-action-search prefix"></i>
                            <input id="txtbuscar" type="text" class="validate" ng-model="txtbuscar" ng-keypress="($event.which === 13)?Buscar():0" autocomplete="off">
                            <label for="txtbuscar">Buscar Artículo</label>
                        </div>
                    </form>
                    <div class="col s1">
                        <span class="card-title"><i class="mdi-navigation-close right"></i></span>
                    </div>
                </div>
                <div id="email-list" class="col s10 m4 l4 card-panel z-depth-1">
                    <ul class="collection">
                        <li class="collection-item email-unread" ng-repeat="a in articulos" onclick="CerrarPanel()" ng-click="ProcesarArticulo(a)">
                            <span class="email-title">{{a.Denominacion}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




        <div id="caracteristica-modal" class="modal">
            <nav class="task-modal-nav red">
                <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                        <ul>
                            <li>
                                <a href="#!" class="todo-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                            </li>
                            <li>
                                <a class="todo-add">Nuevo Registro</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                        <ul class="right">
                            <li>
                                <a href="#!"><i class="modal-action modal-close mdi-content-clear"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal-content">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="todo-title" type="text" class="validate" ng-model="caracteristica.Denominacion" placeholder="Ingrese Caracteristica">
                                <label for="todo-title">Denominación</label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light left grey modal-action modal-close" type="submit" name="action" ng-click="EliminarCaracteristica()">
                                    Eliminar
                                    <i class="mdi-content-clear right"></i>
                                </button>
                            
                                <button class="btn waves-effect waves-light right modal-action modal-close" type="submit" name="action" ng-click="MantenerCaracteristica()">
                                    Guardar
                                    <i class="mdi-content-save right"></i>
                                </button>
                            </div>
                           
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Striped Table-->




@section scripts{
    <script>
        $(function () {

        });
        function CerrarPanel() {
            $("#pnlbuscador").velocity(
                { translateY: 0 }, {
                    duration: 225,
                    queue: false,
                    easing: 'easeInOutQuad',
                    complete: function () { $(this).css({ display: 'none' }); }
                }
               );
        };

        //var myapp = angular.module("app", []);

        myapp.controller("ctrl", function ($scope, $http) {
            $scope.articulos = [];
            $scope.articulo = { Estado: true };
            $scope.Mantener = function () {
                $http.post('@Url.Action("Mantener", "Articulo")', $scope.articulo)
                .success(function (d) {
                    Materialize.toast('Se guardó Correctamente', 4000);
                    $scope.articulo = { Estado: true };
                });
            }
            $scope.Buscar = function () {

                $http.get('@Url.Action("Buscar", "Articulo")', { params: { pClave: $scope.txtbuscar } })
                .success(function (d) {
                    $scope.articulos = d;
                });
            }
            $scope.ProcesarArticulo = function (a) {
                $scope.articulo = {};
                $scope.articulo = a;
                $("#cboCategoria").val(a.CategoriaId).material_select();
                $("#cboMarca").val(a.MarcaId).material_select();

                $http.get('@Url.Action("ListarCaracteristica", "Articulo")' + "?ArticuloId=" + a.ArticuloId)
                                .success(function (d) {
                                    $scope.caracteristicas = d;
                                });
            }
            
            //$scope.Mantenerlimpieza = function (id) {
            //    for(var i=0,len=$scope.caracteristicas.length;i<len;i++){
            //        if($scope.caracteristicas [i]=== id){
            //            $scope.caracteristicas.splice(i,1)};
            //        break;
            //    }
            //    $scope.caracteristicas = '';


            //}
           // $scope.caracteristicas = [];


            $scope.EditarCaracteristica = function (m) {
                $scope.IndEditarCaracteristica = true;
                $scope.caracteristica = m;
                
                //alert($scope.IndEditarCaracteristica);
                $(".caracteristica-add").trigger("click");
            }
            $scope.MantenerCaracteristica = function () {
                
                $scope.caracteristica.ArticuloId = $scope.articulo.ArticuloId;
                $http.post('@Url.Action("MantenerCaracteristica", "Articulo")', $scope.caracteristica)
                .success(function (d) {
                    //alert($scope.IndEditarCaracteristica);
                    if (!$scope.IndEditarCaracteristica) {
                        $scope.caracteristicas.push(d);
                    }
                    Materialize.toast('Se guardó Correctamente', 4000);
                    $scope.caracteristica = {};
                    $scope.IndEditarCaracterisitica = false;
                });
            }

            $scope.EliminarCaracteristica = function () {
                
                $http.get('@Url.Action("EliminarCaracteristica", "Articulo")', { params: { pid: $scope.caracteristica.CaracteristicaId } })
                .success(function (d) {
                    
                        for(var i=0,len=$scope.caracteristicas.length;i<len;i++){
                            if ($scope.caracteristicas[i].CaracteristicaId === $scope.caracteristica.CaracteristicaId) {
                                $scope.caracteristicas.splice(i, 1)
                                break;
                            };                            
                        }
                
                    //$scope.caracteristicas.splice($scope.caracteristica.CaracteristicaId,1);

                    Materialize.toast('Se Eliminó Correctamente', 4000);
                    $scope.caracteristica = {};
                    $scope.IndEditarCaracterisitica = false;
                });
            }
        });
    </script>
}


