<div class="row" ng-controller="ctrl">
    <div class="col s12 m12 l6">

        <div class="card-panel">
            <h4 class="header2">Categoria</h4>
            <div class="row">
                <form class="col s12" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            @Html.DropDownList("cboRubro", null, "-- SELECCIONE RUBRO --", new { ng_model = "cat.RubroId" })
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-av-fast-forward prefix"></i>
                            <input id="txtRubro" type="text" ng-model="cat.Denominacion">
                            <label for="txtRubro">Denominación</label>
                        </div>
                        <div class="input-field col s3">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action" ng-click="MantenerCategoria()">
                                Agregar
                                <i class="mdi-content-save right"></i>
                            </button>

                        </div>
                        <div id="email-list" class="col s12 m12 l12 card-panel z-depth-1">
                            <ul class="collection">
                                <li class="collection-item email-unread ng-scope" ng-repeat="c in categorias">
                                    <span>{{c.Denominacion}}</span>
                                    <span class="secondary-content blue-text ultra-small">{{c.Rubro}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-panel">
            <h4 class="header2">Rubro</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s9">
                            <i class="mdi-av-fast-forward prefix"></i>
                            <input id="txtRubro" type="text" ng-model="Rubro.Denominacion">
                            <label for="txtRubro">Denominación</label>
                        </div>
                        <div class="input-field col s3">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action" ng-click="MantenerRubro()">
                                Agregar
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                        <div id="email-list" class="col s12 m12 l12 card-panel z-depth-1">
                            <ul class="collection">
                                <li class="collection-item email-unread" ng-repeat="r in rubros" onclick="CerrarPanel()" ng-click="Mantener(r)">
                                    <span> {{r.Denominacion}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="card-panel">
            <h4 class="header2">Marca</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s9">
                            <i class="mdi-av-fast-forward prefix"></i>
                            <input id="txtMarca" type="text" ng-model="Marca.Denominacion">
                            <label for="txtMarca">Denominación</label>
                        </div>
                        <div class="input-field col s3">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action" ng-click="MantenerMarca()">
                                Agregar
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                        <div id="email-list" class="col s12 m12 l12 card-panel z-depth-1">
                            <ul class="collection">
                                <li class="collection-item email-unread ng-scope" ng-repeat="m in marcas">
                                    <span> {{m.Denominacion}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
@section scripts{

    <script>
        myapp.controller("ctrl", function ($scope, $http) {
            $scope.rubros = [];
            
            $http.get('@Url.Action("ListarRubros", "Maestro")')
                .success(function (d) {
                    $scope.rubros = d;
                });

            $scope.MantenerRubro = function () {
                $http.post('@Url.Action("MantenerRubro", "Maestro")', $scope.Rubro)
                .success(function (d) {
                    $scope.rubros.push(d);
                    Materialize.toast('Se guardó Correctamente', 4000);
                    $scope.Rubro = {};
                });
            }

            $scope.marcas = [];
            $http.get('@Url.Action("ListarMarcas", "Maestro")')
                .success(function (d) {
                    $scope.marcas = d;
                });

            $scope.MantenerMarca = function () {
                $http.post('@Url.Action("MantenerMarca", "Maestro")', $scope.Marca)
                .success(function (d) {
                    $scope.marcas.push(d);
                    Materialize.toast('Se guardó Correctamente', 4000);
                    $scope.Marca = {};
                });
            }
            $scope.Mantenercategorias = [];
            $http.get('@Url.Action("ListarCategoriaRubro", "Maestro")')
                .success(function (d) {
                    $scope.categorias = d;
                });

            $scope.MantenerCategoria = function () {
                $http.post('@Url.Action("MantenerCategoria", "Maestro")', $scope.cat)
                .success(function (d) {
                    d.Rubro = $("#cboRubro option:selected").text();
                    $scope.categorias.push(d);
                    Materialize.toast('Se guardó Correctamente', 4000);
                    $scope.cat = {};
                });

            }
            $scope.Mantener = function (r) {
                $scope.categoria = {};
                $scope.categoria = r;
                //$("#cboDenominacion").val(r.RubroId).material_select();
                //$("#cboRubroId").val(r.Denominacion).material_select();

            }
        });
    </script>
}